@use 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.register {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: vars.$color-bg-hero;
  color: vars.$white;

  &-btn {
    &--close {
      @include btn-close;
      align-self: flex-end;
      margin-right: 1.8rem;
      &:hover,
      &:active {
        background-color: darken($color: vars.$color-action, $amount: 10%);
        color: vars.$white;
      }
    }
  }

  &-title {
    font-size: 2rem;
  }

  &-form {
    width: 90vw;
    @media screen and (min-width: 700px) {
      width: 60vw;
      text-align: center;
    }

    &-btn {
      @include btn-green;
      &:hover,
      &:active {
        background-color: lighten(vars.$color-action, 10%);
      }
    }
    &-input {
      width: 100%;
      color: vars.$color-action;
      &--check {
        color: vars.$white;
        &-link {
          font-weight: bold;

          &:hover,
          &:active {
            color: vars.$color-action;
          }
        }
      }
    }

    &-btn {
      color: vars.$white;
      width: 100%;
      @media screen and (min-width: 700px) {
        max-width: 15rem;
      }
      background-color: vars.$color-action;
      &:hover,
      &:active {
        background-color: lighten(vars.$color-action, 10%);
      }
    }
  }
}
