@use 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.bookings {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: vars.$color-bg-hero;
  color: vars.$white;
  &-title {
    margin: 2rem auto;
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    &--sub {
      color: vars.$red;
    }
  }
  &-btn {
    &--close {
      @include btn-close;
      align-self: flex-end;
      margin-right: 1.8rem;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    @media screen and (min-width: 700px) {
      flex-direction: row;
      align-items: flex-start;
      min-height: 80vh;
    }

    &-left {
      padding: 2rem;
      max-width: 100%;
      margin: 0 auto;
      background-color: vars.$color-cards;
      box-shadow: 0.5px 0.5px 2.5px 2.5px vars.$color-action;
      @media screen and (min-width: 700px) {
        min-height: 80vh;
        width: 40vw;
        margin: 0 0.5rem;
        border-radius: 5px;
      }
      &-title {
        margin: 2rem 0;
        color: vars.$white;
        font-weight: bold;
        text-align: center;
      }
      &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    &-right {
      padding: 2rem;
      width: 100%;
      color: vars.$red;
      background-color: vars.$color-cards;
      box-shadow: 0.5px 0.5px 2.5px 2.5px vars.$color-action;
      @media screen and (min-width: 700px) {
        border-top: transparent;
        min-height: 80vh;
        width: 40vw;
        margin: 0 0.5rem;
        border-radius: 5px;
      }
      &-title {
        text-align: center;
        margin: 2rem 0;
        color: vars.$white;
        font-weight: bold;
      }
      &-list {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
