@use 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.bookings{
    max-width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background-color: vars.$color-cards;
    color: vars.$white;
    &-title{
        margin : 2rem auto;
        font-weight: bold;
    }
}
