$color-action: #246e89;
$color-bg-hero: #388ea3;
$color-cards: #91d1d3;
$color-5: #55afc0;
$color-accent-1: #dcdcdc;
$color-hover: #eee6d1;
$black: #333;
$white: #f3f3f3;
$red: rgb(184, 72, 72);

@mixin btn-white {
  color: vars.$color-action;
  font-size: 1rem;
  background-color: vars.$white;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 1.8rem;
  align-self: flex-end;
  cursor: pointer;
}
@mixin btn-green {
  color: vars.$white;
  font-size: 1rem;
  background-color: vars.$color-action;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 1.8rem;
  align-self: flex-end;
  cursor: pointer;
}
