@use 'src/styles/vars';
@import 'src/styles/mixins.scss';

.updatewasherform {
  min-height: 90vh;
  min-width: 100vw;
  background-color: vars.$color-bg-hero;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: vars.$white;
  &-btn {
    @include btn-close;
    margin-right: 1.8rem;
    align-self: flex-end;

    &:hover,
    &:active {
      background-color: lighten(vars.$white, 10%);
      transform: scale(1.1);
    }
  }
  &-title {
    font-weight: bold;
    text-align: center;
    margin: 1rem auto;
  }
  &-form {
    text-align: center;
    width: 90vw;
    @media screen and (min-width: 700px) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    &-left {
      @media screen and (min-width: 700px) {
        margin-right: 1rem;
      }
    }
    &-input {
      height: 3rem;
      width: 100%;
      font-size: 1rem;
      border-radius: 10px;
      padding: 0.5rem;
      margin-bottom: 1rem;
      &--description {
        max-width: 95vw;
        min-height: 5rem;
      }
    }
    &-btnGroup {
      &-submit {
        @include btn-green;
        &:hover,
        &:active {
          background-color: lighten(vars.$color-action, 10%);
        }
        &--delete {
          background-color: vars.$black;
          &:hover,
          &:active {
            background-color: lighten(vars.$red, 10%);
          }
        }
      }
    }

    &-capacity {
      text-align: left;
      &-select {
        &-text {
          margin-right: 0.5rem;
          font-weight: bold;
        }

        &-option {
          height: 3rem;
          font-size: 1rem;
          border-radius: 10px;
          padding: 0.5rem;
          color: vars.$color-action;
          background-color: vars.$white;
          &-item {
          }
        }
      }
    }

    &-image {
      display: flex;
      align-items: center;
      text-align: left;
      margin-top: 0.5rem;
      &-subtitle {
        font-weight: bold;
      }
      &-picture {
        border-radius: 20px;
        overflow: hidden;
        margin-left: 0.5rem;
      }
    }
  }
}
