@use 'src/styles/vars';

.cards {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 700px) {
      flex-direction: row;
    }
    align-items: center;
    justify-content: flex-start;
  }
  padding: 0.5rem;
  background-color: vars.$color-cards;
  &-title {
    margin: 1rem 0;
    font-size: large;
    color: vars.$white;
    &-number {
      font-weight: bold;
    }
  }
}
