@use 'src/styles/vars';

.card {
  color: vars.$color-action;
  font-weight: bold;
  font-size: large;
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  background-color: vars.$white;
  border-radius: 10px;
  padding: 0.25rem;
  text-align: center;
  max-height: 100px;
  &-img {
    border-radius: 10px;
    padding: 5px;
    width: 90px;
  }
  &-content {
    width: 90%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    &-city {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &-name{
        display: block;
      }
      &-distance {
        color: vars.$black;
        font-size: smaller;
        display: block;
        background-color: vars.$color-cards;
        border-radius: 2px;
        padding: 0.25rem;
        text-align: center;
      }
    }
    &-infos {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &-price {
        color: red;
        display: block;
      }
      &-grade {
        display: block;
      }
    }
  }
}
