@use 'src/styles/vars';

.card {
  color: vars.$color-action;
  font-weight: bold;
  font-size: large;
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  background-color: vars.$white;
  border-radius: 10px;
  padding: 0.25rem;
  text-align: center;
  max-height: 100px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 2.5px darken(rgba(vars.$color-action, .5), 10%);
  @media screen and (min-width: 700px) {
    width: 25rem;
    height: 100px;
  }
  transition: all .2s ease-in-out;
  &:hover{

    transform: scale(1.1);
  }
  &-img {
    border-radius: 10px;
    padding: 5px;
    max-width: 90px;
    max-height: 70px;

  }
  &-content {
    width: 90%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    &-city {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &-name {
        display: block;
      }
      &-distance {
        color: vars.$black;
        font-size: smaller;
        display: block;
        background-color: vars.$color-cards;
        border-radius: 2px;
        padding: 0.25rem;
        text-align: center;
        max-width: 4rem;
      }
    }
    &-infos {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &-price {
        color: vars.$red;
        display: block;
      }
      &-grade {
        display: block;
      }
    }
  }
}
