@use 'src/styles/vars.scss';

.field{
    width: 100%;
    &-input{
        height: 3rem;
        width: 100%;
        font-size: 1rem;
        border-radius: 10px;
        padding: 0.5rem;
        margin-bottom: 1rem;
        color: vars.$color-action;
    }
}
