@use 'src/styles/vars.scss';

.header {
  background-color: vars.$color-bg-hero;
  min-width: 100vw;
  text-align: center;
  &-logo {
    // display mobile first
    max-width: 60px;
    max-height: 60px;
    // display for desktop
    @media screen and (max-width: 700px) {
      &-logo {
        display: none;
      }
    }
  }
}
