@use 'src/styles/vars';
@import 'src/styles/mixins.scss';

.addwasherform {
  min-height: 90vh;
  min-width: 100vw;
  background-color: vars.$color-bg-hero;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: vars.$white;
  &-btn {
    @include btn-close;
    margin-right: 1.8rem;
    align-self: flex-end;

    &:hover,
    &:active {
      background-color: lighten(vars.$white, 10%);
      transform: scale(1.1);
    }
  }
  &-title {
    font-weight: bold;
    text-align: center;
    margin: 1rem auto;
  }
  &-form {
    text-align: center;
    width: 90vw;
    &-input {
      height: 3rem;
      width: 100%;
      font-size: 1rem;
      border-radius: 10px;
      padding: 0.5rem;
      margin-bottom: 1rem;
      &--description {
        max-width: 95vw;
        min-height: 5rem;
      }
    }
    &-submit {
      @include btn-green;
      &:hover,
      &:active {
        background-color: lighten(vars.$color-action, 10%);
        transform: scale(1.1);
      }
    }
    &-capacity {
      text-align: left;
      &-select {
        &-text {
          margin-right: 0.5rem;
          font-weight: bold;
        }

        &-option {
          height: 3rem;
          font-size: 1rem;
          border-radius: 10px;
          padding: 0.5rem;
          color: vars.$color-action;
          background-color: vars.$white;
          &-item {
          }
        }
      }
    }

    &-image {
      display: flex;
      align-items: center;
      text-align: left;
      margin-top: 0.5rem;
      &-subtitle {
        font-weight: bold;
      }
      &-input {
        margin-left: 0.5rem;
        background-color: vars.$white;
        border-radius: 20px;
      }
    }
    &-submit {
      margin: 1rem 0;
      background-color: vars.$color-action;
      color: vars.$white;
      &:hover,
      &:active {
        background-color: lighten(vars.$color-action, 10%);
      }
      width: 100%;
      @media screen and (min-width: 700px) {
        max-width: 15rem;
        margin-top: 3rem;
      }
    }
  }
}
