.address-detail {
  .leaflet-container {
    width: 90%;
    height: 10rem;
    margin: 1rem auto;
    border-radius: 10px;
    @media screen and (min-width: 700px) {
      width: 40rem;
      height: 30rem;
      margin: 0.5rem auto;
    }
  }
  &-map {
    margin: 1rem 0;
  }
}
