@use 'src/styles/vars.scss';
@import 'src/styles/mixins';

.booking-details {
  background-color: vars.$color-cards;
  color: vars.$white;
  min-height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &-btn {
    &--close {
      @include btn-close;
      align-self: flex-end;
      margin-right: 1.8rem;
    }
  }
  &-title {
    text-align: center;
    font-size: 1.5rem;
  }

  &-container {
    @media screen and (min-width: 700px) {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }

    &-map {
      @media screen and (min-width: 700px) {
        max-width: 50%;
      }
    }
    &-right {
      @media screen and (min-width: 700px) {
        max-width: 45%;
        margin-left: 2rem;
      }

      &-item {
        margin: 1rem 0;
        &-element {
          font-weight: bold;
        }
      }
      &-btnGroup {
        display: flex;
        &-btn {
          margin: 0.5rem 0;
          padding: 0.5rem 0;
          @include btn-green;
          background-color: vars.$color-action;
          color: vars.$white;
          font-weight: bold;
          &:hover {
            background-color: lighten(vars.$color-action, 10%);
          }
          &--cancel {
            background-color: vars.$red;
            &:hover {
              background-color: lighten(vars.$red, 10%);
            }
          }
        }
      }
    }
  }
}
