@use 'src/styles/vars';
@import 'src/styles/mixins';

.machinedetail {
  .leaflet-container {
    width: 90vw;
    height: 10rem;
    border-radius: 10px;
    @media screen and (min-width: 700px) {
      width: 40rem;
      height: 30rem;
      margin: 0.5rem auto;
    }
  }
  background-color: vars.$color-cards;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 80vh;
  color: vars.$white;
  &-title {
    margin: 2rem 0;
    font-weight: bold;
  }
  &-btn {
    &--close {
      @include btn-close;
      align-self: flex-end;
      margin-right: 1.8rem;
    }
  }
  &-container-top {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 700px) {
      flex-direction: row;
    }
    justify-content: center;
    align-items: center;
    width: 100%;
    &-infos {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 1rem 0;
      padding: 0.5rem;
      width: 50%;

      &-details {
        &-title {
          margin: 1rem auto;
          font-weight: bold;
          text-transform: capitalize;
        }
        &-picture {
          max-width: 12rem;
          max-height: 12rem;
          border-radius: 10px;
          box-shadow: 2.5px 2.5px 2.5px rgba($color: #000000, $alpha: 0.5);
        }
        &-capacity {
          margin: 0.5rem 0;
          &-number {
            font-weight: bold;
          }
        }
      }
    }
    &-user {
      width: 50%;
      &-description {
        font-style: italic;
      }
    }
  }

  &-container-bottom {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 700px) {
      flex-direction: row;
    }
    align-items: center;
    max-width: 100vw;
    &-left {
      width: 100%;
      @media screen and (min-width: 700px) {
        width: 50%;
      }
      &-address {
        &-city {
          font-size: 1.2rem;
          font-weight: bold;
          color: vars.$color-action;
          text-transform: capitalize;
        }
        &-map {
          margin: 0.5rem 0;
          &-popup {
            max-width: 6rem;
            word-wrap: break-all;
            overflow-wrap: break-word;
            &-title {
              font-weight: bold;
              color: vars.$color-action;
            }
            &-city {
              font-weight: bold;
              color: vars.$color-cards;
              text-transform: capitalize;
            }
            &-price {
              margin-left: 2rem;
              color: vars.$red;
            }
            &-picture {
              max-width: 100%;
              max-height: 10rem;
            }
            &-description {
              max-width: 6rem;
            }
          }
        }
      }
    }
  }
  &-form {
    width: 100%;
    @media screen and (min-width: 700px) {
      width: 50%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    &-title {
      font-weight: bold;
      text-align: center;
    }
    &-input {
      &--description {
        color: vars.$color-action;
      }
    }
    &-select {
      height: 3rem;
      font-size: 1rem;
      border-radius: 10px;
      padding: 0.5rem;
      color: vars.$color-action;
      background-color: vars.$white;
      margin: 0.5rem 0;
      width: 100%;
      &-day {
      }
      &-hour {
      }
      &-temperature {
      }
    }
    &-options {
      margin: 0.5rem 0;
      &-item {
      }
    }
    &-submit {
      @include btn-green;
      margin-top: 1rem;
    }
  }
}
